<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row shipyard">
        <ng-container *ngFor="let shp of shipsConfig">
          <div class="m-2" [ngClass]="shp.type === 'v' ? 'grid-1x' + shp.c : 'grid-'+ shp.c+ 'x1'">
            <ng-container *ngFor="let blk of shp.c | fill; let i = index">
              <div class="grid-item">*</div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="grid-container">
          <ng-container *ngFor="let row of m | fill; let i = index">
            <ng-container *ngFor="let column of n | fill; let i = index">
              <div class="grid-item">{{i + 1}}</div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
